body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

div {
	padding: 30px;
	margin: -5px;
}

button {
	background-color: #1DB954;
	color: white;
	padding: 10px;
	border-radius: 10px;
	border: none;
}

#header {
	color: white;
	margin-bottom: -20px;
}

#login input {
	background-color: #1DB954;
	color: white;
	float: right;
	margin-top: -120px;
	margin-right: 30px;
	border: none;
	padding: 10px;
	border-radius: 10px;
}

#searchBox {
	margin-top: 20px;
	margin: 3px;
	background-color: #1DB954;
	color: white;
	border-radius: 15px;
	text-align: center;
}

#searchBox p {
	font-size: 20px;
}


#search-form, .form-control {
    margin-bottom: 0px;
	height: 25px;
	border-radius: 15px;
	border: none;
	padding: 5px;
}

#search-form .btn.btn-primary {
	border-radius: 15px;
	background-color: #191414;
	color: white;
	border: none;
	padding: 10px;
}

#playlist {

	margin: 5px;
	margin-top: 20px;
}

#playlist table {
	color: white;
	table-layout: auto;
	width: 100%;
}

#playlist table th {
	text-align: left;
	color: #1DB954;
}
